*/.DS_Store
*/Binaries
*/Build
*/DerivedDataCache
*/Intermediate
*/Saved
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
**/xcuserdata
contents.xcworkspacedata

